@import url(https://cdnjs.cloudflare.com/ajax/libs/weather-icons/2.0.9/css/weather-icons.min.css);
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;1,100;1,200;1,300;1,400&display=swap');
:root {
    --font-body: Poppins, sans-serif;
    --secondary: #eef7fe;
    --primary: #22215b;
    --primary-light: #2f2f31;
  }
  
  html {
    font-size: 100%;
    box-sizing: border-box;
  }
  
  *,
  *::before,
  *::after {
    padding: 0;
    margin: 0;
    box-sizing: inherit;
  }
  
  html {
    font-family: var(--font-body);
  }
  
  body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #e7e9f0;
  }
  
  ul {
    list-style: none;
  }
  
  button {
    font-family: inherit;
    border: none;
    background: transparent;
    cursor: pointer;
  }
  
  .card {
    background: #fff;
    display: flex;
    align-items: center;
  }
  .card__info__place {
    font-size: 14px;
    color: var(--primary-light);
  }
  .card__info__time {
    font-size: 30px;
    color: var(--primary);
  }
  .card__info__date {
    font-size: 14px;
    color: var(--primary-light);
  }
  .card__weather {
    margin-left: auto;
    display: flex;
    align-items: center;
    gap: 12px;
  }
  .card__weather__temp {
    font-size: 30px;
  }
  .card__weather__icon {
    animation: move 1s infinite alternate ease-in-out;
  }
  .wi{
    font-size: 32px;
  }
  @keyframes move {
    to {
      transform: translateY(-10px);
    }
  }